# Подключение к API. Открытые и закрытые

API - это инструмент связи с данными. Вы делаете запросы, API - возвращает ответ.
Бывают 2 типа API:
- __открытые__ - общедоступные
- __закрытые__ - требующие различных процедур авторизации (токен)

# Задача
Получить данные восхода и заката из __открытого__ API https://sunrise-sunset.org/ для своей геолокации

In [29]:
# импортируем библиотеку, которая позволяет получает по названию - координаты
import geocoder
import pandas as pd

In [17]:
city = geocoder.arcgis('Суздаль')
print(city.json)

{'address': 'Суздаль, Суздальский район, Владимирская область', 'bbox': {'northeast': [56.45495, 40.47544], 'southwest': [56.39695, 40.41744]}, 'confidence': 6, 'lat': 56.42595000000006, 'lng': 40.44644000000005, 'ok': True, 'quality': 'Locality', 'raw': {'name': 'Суздаль, Суздальский район, Владимирская область', 'extent': {'xmin': 40.41744, 'ymin': 56.39695, 'xmax': 40.47544, 'ymax': 56.45495}, 'feature': {'geometry': {'x': 40.44644000000005, 'y': 56.42595000000006}, 'attributes': {'Score': 100, 'Addr_Type': 'Locality'}}}, 'score': 100, 'status': 'OK'}

In [23]:
# запишем широту и долготу
coord = city.json['lat'], city.json['lng']
coord

(56.42595000000006, 40.44644000000005)

In [24]:
# библиотека для запросов к API
import requests

URL = 'https://api.sunrise-sunset.org/json'
params = {
    'lat': coord[0], # берем первый элемент из списка
    'lng': coord[1], # берем второй элемент из списка
    'date': '2023-10-11'
}

sun_r_s = requests.get(URL, params=params) 

sun_r_s

In [25]:
# смотрим, что вывел API с помощью метода .json
sun_r_s.json()

{'results': {'sunrise': '3:39:28 AM',
  'sunset': '2:30:36 PM',
  'solar_noon': '9:05:02 AM',
  'day_length': '10:51:08',
  'civil_twilight_begin': '3:03:43 AM',
  'civil_twilight_end': '3:06:21 PM',
  'nautical_twilight_begin': '2:20:16 AM',
  'nautical_twilight_end': '3:49:48 PM',
  'astronomical_twilight_begin': '1:36:07 AM',
  'astronomical_twilight_end': '4:33:57 PM'},
 'status': 'OK'}

In [28]:
# посмотрим на время восхода
sun_r_s.json()['results']['sunrise']

'3:39:28 AM'

In [33]:
# можно преобразовать эти данные из словаря в Dataframe
pd.DataFrame([sun_r_s.json()['results']])

,sunrise,sunset,solar_noon,day_length,civil_twilight_begin,civil_twilight_end,nautical_twilight_begin,nautical_twilight_end,astronomical_twilight_begin,astronomical_twilight_end
0,3:39:28 AM,2:30:36 PM,9:05:02 AM,10:51:08,3:03:43 AM,3:06:21 PM,2:20:16 AM,3:49:48 PM,1:36:07 AM,4:33:57 PM

# Задача

 Выгрузить маркетологам для анализа 50 самых популярных постов за все время существования сообщества Skyeng во ВКонтакте. Метрику популярности будем считать как сумму лайков, репостов и комментариев к каждому посту.

## Часть 1

__Получаем собственный `access_token` в ВК__

In [1]:
# читаем токен из файла my_own_token.py, куда мы сохранили access_token
from my_own_token import access_token as token

## Часть 2

__Формируем запрос, который получает 100 записей со стены сообщества__

In [3]:
# метод, который мы используем
url = 'https://api.vk.com/method/wall.get'

# параметры, которые мы указываем согласно документации
params = {'domain':'skyeng',
          'count':100,
          'access_token': token,
          'v':'5.131'
        }
req = requests.get(url, params = params)
res = req.json()
print('Кол-во записей:', len(pd.DataFrame(res['response'])))

Кол-во записей: 100

In [4]:
# преобразуем в dataframe
pd.DataFrame(res['response']['items'])

,donut,comments,marked_as_ads,short_text_rate,hash,type,carousel_offset,attachments,date,from_id,id,is_favorite,likes,owner_id,post_source,post_type,reposts,text,views,edited
0,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,7r_VssrRO1adrWpGoTKQYfg0g8AU,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1697032513,-51890028,97094,False,"{'can_like': 1, 'count': 19, 'user_likes': 0, ...",-51890028,{'type': 'vk'},post,"{'count': 8, 'user_reposted': 0}","«Коллеги, нужен синк по лидам. Смэтчимся по сл...",{'count': 2500},NaN
1,{'is_donut': False},"{'can_post': 1, 'count': 3, 'groups_can_post':...",0,0.8,tyQUYUZB0ldV_E8P17HvuvpGtZfd,post,NaN,"[{'type': 'video', 'video': {'response_type': ...",1696936308,-51890028,97019,False,"{'can_like': 1, 'count': 31, 'user_likes': 0, ...",-51890028,{'type': 'vk'},post,"{'count': 2, 'user_reposted': 0}",,{'count': 5893},NaN
2,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,XRTTBZ1MMzIxfHQhRS4Ra7Eik7VR,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1696854134,-51890028,96976,False,"{'can_like': 1, 'count': 29, 'user_likes': 0, ...",-51890028,{'type': 'vk'},post,"{'count': 9, 'user_reposted': 0}","“I’ve got a ton of homework to do, so I better...",{'count': 4078},1.696856e+09
3,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,WA_mAhtoeV3EHjXioS3Z5Q89qLBx,post,NaN,"[{'type': 'video', 'video': {'response_type': ...",1696835541,-51890028,96972,False,"{'can_like': 1, 'count': 22, 'user_likes': 0, ...",-51890028,{'type': 'vk'},post,"{'count': 6, 'user_reposted': 0}",,{'count': 6695},NaN
4,{'is_donut': False},"{'can_post': 1, 'count': 2, 'groups_can_post':...",0,0.8,_Dh35ZbNBcLADpNXORfLH4k_hUFV,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1696755420,-51890028,96970,False,"{'can_like': 1, 'count': 26, 'user_likes': 0, ...",-51890028,{'type': 'vk'},post,"{'count': 6, 'user_reposted': 0}",Мыслить нужно позитивно и видеть за окном не г...,{'count': 4669},NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,{'is_donut': False},"{'can_post': 1, 'count': 2, 'groups_can_post':...",0,0.8,NIwzF6hNBPIweicqG2Z2IW7vQg1T,post,NaN,"[{'type': 'video', 'video': {'response_type': ...",1691074292,-51890028,93362,False,"{'can_like': 1, 'count': 75, 'user_likes': 0, ...",-51890028,{'type': 'vk'},post,"{'count': 6, 'user_reposted': 0}",,{'count': 5253},NaN
96,{'is_donut': False},"{'can_post': 1, 'count': 2, 'groups_can_post':...",0,0.8,w-HDzg4HEroS8qJY-CYF0wIYn_Gy,post,0.0,"[{'type': 'video', 'video': {'response_type': ...",1691068440,-51890028,93361,False,"{'can_like': 1, 'count': 23, 'user_likes': 0, ...",-51890028,{'type': 'vk'},post,"{'count': 2, 'user_reposted': 0}",Коммуналка - часть 2😎\n\nСегодня вместе с Джор...,{'count': 3730},NaN
97,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,ulV3ldAOW0h3EXXCWb9IIt6pnl5P,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1691052600,-51890028,93360,False,"{'can_like': 1, 'count': 21, 'user_likes': 0, ...",-51890028,{'type': 'vk'},post,"{'count': 9, 'user_reposted': 0}","Конечно, в любое время года можно хорошо прове...",{'count': 8753},NaN
98,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,jpEPKYz_divaBN2hZZ5dH7qaGhlp,post,0.0,"[{'type': 'video', 'video': {'response_type': ...",1690994880,-51890028,93357,False,"{'can_like': 1, 'count': 40, 'user_likes': 0, ...",-51890028,{'type': 'vk'},post,"{'count': 7, 'user_reposted': 0}","💥What’s cooking, good-looking?\n\nВсем привет,...",{'count': 7359},NaN
99,{'is_donut': False},"{'can_post': 1, 'count': 3, 'groups_can_post':...",0,0.8,eNsAp6oK4xW6IZnOUJ4eLUveGSUO,post,0.0,"[{'type': 'video', 'video': {'response_type': ...",1690910040,-51890028,93287,False,"{'can_like': 1, 'count': 28, 'user_likes': 0, ...",-51890028,{'type': 'vk'},post,"{'count': 7, 'user_reposted': 0}",Коммуналка Skyeng😱\n\nВ этом видео иностранцы ...,{'count': 7144},NaN

## Часть 3

__Выгружаем все записи со стены__

In [5]:
import time

post_count = res['response']['count']
posts = pd.DataFrame(res['response']['items'])
off = 100
# в цикле будем добавлять по 100 записей со смещением, потому что максимально можно запросить только 100
while len(posts) < post_count:
    url = 'https://api.vk.com/method/wall.get'

    params = {'domain':'skyeng',
          'count':100,
          'offset': off,
          'access_token': token,
          'v':'5.131'
        }
    result = requests.get(url, params = params).json()
    df = pd.DataFrame(result['response']['items'])
    posts = pd.concat([posts,df], ignore_index=True)
    print(f'Добавлены записи, длина списка - {len(posts)}')
    off+=100
    time.sleep(0.4)
else:
    print('Цикл окончен')

Добавлены записи, длина списка - 200
Добавлены записи, длина списка - 300
Добавлены записи, длина списка - 400
Добавлены записи, длина списка - 500
Добавлены записи, длина списка - 600
Добавлены записи, длина списка - 700
Добавлены записи, длина списка - 800
Добавлены записи, длина списка - 900
Добавлены записи, длина списка - 1000
Добавлены записи, длина списка - 1100
Добавлены записи, длина списка - 1200
Добавлены записи, длина списка - 1300
Добавлены записи, длина списка - 1400
Добавлены записи, длина списка - 1500
Добавлены записи, длина списка - 1600
Добавлены записи, длина списка - 1700
Добавлены записи, длина списка - 1800
Добавлены записи, длина списка - 1900
Добавлены записи, длина списка - 2000
Добавлены записи, длина списка - 2100
Добавлены записи, длина списка - 2200
Добавлены записи, длина списка - 2300
Добавлены записи, длина списка - 2400
Добавлены записи, длина списка - 2500
Добавлены записи, длина списка - 2600
Добавлены записи, длина списка - 2700
Добавлены записи, длина списка - 2800
Добавлены записи, длина списка - 2900
Добавлены записи, длина списка - 3000
Добавлены записи, длина списка - 3100
Добавлены записи, длина списка - 3200
Добавлены записи, длина списка - 3300
Добавлены записи, длина списка - 3400
Добавлены записи, длина списка - 3500
Добавлены записи, длина списка - 3600
Добавлены записи, длина списка - 3700
Добавлены записи, длина списка - 3800
Добавлены записи, длина списка - 3900
Добавлены записи, длина списка - 4000
Добавлены записи, длина списка - 4100
Добавлены записи, длина списка - 4200
Добавлены записи, длина списка - 4300
Добавлены записи, длина списка - 4400
Добавлены записи, длина списка - 4500
Добавлены записи, длина списка - 4600
Добавлены записи, длина списка - 4700
Добавлены записи, длина списка - 4800
Добавлены записи, длина списка - 4900
Добавлены записи, длина списка - 5000
Добавлены записи, длина списка - 5100
Добавлены записи, длина списка - 5200
Добавлены записи, длина списка - 5300
Добавлены записи, длина списка - 5400
Добавлены записи, длина списка - 5500
Добавлены записи, длина списка - 5600
Добавлены записи, длина списка - 5700
Добавлены записи, длина списка - 5800
Добавлены записи, длина списка - 5900
Добавлены записи, длина списка - 6000
Добавлены записи, длина списка - 6100
Добавлены записи, длина списка - 6200
Добавлены записи, длина списка - 6300
Добавлены записи, длина списка - 6400
Добавлены записи, длина списка - 6500
Добавлены записи, длина списка - 6600
Добавлены записи, длина списка - 6700
Добавлены записи, длина списка - 6800
Добавлены записи, длина списка - 6900
Добавлены записи, длина списка - 7000
Добавлены записи, длина списка - 7100
Добавлены записи, длина списка - 7200
Добавлены записи, длина списка - 7300
Добавлены записи, длина списка - 7400
Добавлены записи, длина списка - 7500
Добавлены записи, длина списка - 7600
Добавлены записи, длина списка - 7700
Добавлены записи, длина списка - 7800
Добавлены записи, длина списка - 7900
Добавлены записи, длина списка - 8000
Добавлены записи, длина списка - 8100
Добавлены записи, длина списка - 8200
Добавлены записи, длина списка - 8300
Добавлены записи, длина списка - 8400
Добавлены записи, длина списка - 8500
Добавлены записи, длина списка - 8600
Добавлены записи, длина списка - 8700
Добавлены записи, длина списка - 8741
Цикл окончен

In [6]:
print('Кол-во записей:', len(posts))

Кол-во записей: 8741

In [7]:
posts.head()

,donut,comments,marked_as_ads,short_text_rate,hash,type,carousel_offset,attachments,date,from_id,...,post_type,reposts,text,views,edited,copy_history,signer_id,zoom_text,marked_as_author_ad,geo
0,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,7r_VssrRO1adrWpGoTKQYfg0g8AU,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1697032513,-51890028,...,post,"{'count': 8, 'user_reposted': 0}","«Коллеги, нужен синк по лидам. Смэтчимся по сл...",{'count': 2500},NaN,NaN,NaN,NaN,NaN,NaN
1,{'is_donut': False},"{'can_post': 1, 'count': 3, 'groups_can_post':...",0,0.8,tyQUYUZB0ldV_E8P17HvuvpGtZfd,post,NaN,"[{'type': 'video', 'video': {'response_type': ...",1696936308,-51890028,...,post,"{'count': 2, 'user_reposted': 0}",,{'count': 5893},NaN,NaN,NaN,NaN,NaN,NaN
2,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,XRTTBZ1MMzIxfHQhRS4Ra7Eik7VR,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1696854134,-51890028,...,post,"{'count': 9, 'user_reposted': 0}","“I’ve got a ton of homework to do, so I better...",{'count': 4078},1.696856e+09,NaN,NaN,NaN,NaN,NaN
3,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,WA_mAhtoeV3EHjXioS3Z5Q89qLBx,post,NaN,"[{'type': 'video', 'video': {'response_type': ...",1696835541,-51890028,...,post,"{'count': 6, 'user_reposted': 0}",,{'count': 6695},NaN,NaN,NaN,NaN,NaN,NaN
4,{'is_donut': False},"{'can_post': 1, 'count': 2, 'groups_can_post':...",0,0.8,_Dh35ZbNBcLADpNXORfLH4k_hUFV,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1696755420,-51890028,...,post,"{'count': 6, 'user_reposted': 0}",Мыслить нужно позитивно и видеть за окном не г...,{'count': 4669},NaN,NaN,NaN,NaN,NaN,NaN

## Часть 4

__Выгружаем 50 самых популярных постов. Метрикой популярности мы считаем сумму лайков, репостов и комментариев__

In [8]:
# вытащи из словарей столбцов comments, likes, reposts только нужные значения

# Функция для подсчета значений
def get_count(x):
    try:
        return x['count']
    except:
        x.fillna(0, inplace = True)

# заполни даными с прошлого шага новые столбцы

posts['comments_count'] = posts['comments'].apply(get_count)

posts['likes_count'] = posts['likes'].apply(get_count)

posts['reposts_count'] = posts['likes'].apply(get_count)

In [9]:
# заполним данными столбец с суммой по всем активностям
posts['activity'] = posts['comments_count'] + posts['likes_count'] + posts['reposts_count']
posts[['comments_count', 'likes_count', 'reposts_count', 'activity']]

      comments_count  likes_count  reposts_count  activity
0                  0           19             19        38
1                  3           31             31        65
2                  0           29             29        58
3                  0           22             22        44
4                  2           26             26        54
...              ...          ...            ...       ...
8736               0            2              2         4
8737               0            4              4         8
8738               4            4              4        12
8739               0            7              7        14
8740               0           22             22        44

[8741 rows x 4 columns]

In [10]:
# выполним сортировку, чтобы выделить 50 лучших постов
posts.sort_values(by='activity', ascending=False, inplace = True)
posts.head(50)

,donut,comments,marked_as_ads,short_text_rate,hash,type,carousel_offset,attachments,date,from_id,...,edited,copy_history,signer_id,zoom_text,marked_as_author_ad,geo,comments_count,likes_count,reposts_count,activity
2587,{'is_donut': False},"{'can_post': 1, 'count': 239, 'groups_can_post...",0,0.8,sRDZPK49E-SLNnE88ltmFrqoJJPJ,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1554800244,-51890028,...,1.554800e+09,NaN,NaN,NaN,NaN,NaN,239,7053,7053,14345
1540,{'is_donut': False},"{'can_post': 1, 'count': 10962, 'groups_can_po...",0,0.8,aEuezpCgw_I8rzbQjeFS48gsq9N5,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1602590409,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,10962,117,117,11196
8234,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,bfxAsmC-jJblCq_if0xcOcU9dMZv,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1416930109,-51890028,...,1.416991e+09,NaN,NaN,NaN,NaN,NaN,0,4013,4013,8026
2266,{'is_donut': False},"{'can_post': 1, 'count': 50, 'groups_can_post'...",0,0.8,_lW_eowfzsxImflvIu8cBp5n1xOK,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1568444249,-51890028,...,1.568449e+09,NaN,NaN,NaN,NaN,NaN,50,1944,1944,3938
501,{'is_donut': False},"{'can_post': 1, 'count': 22, 'groups_can_post'...",0,0.8,tYuRpV0gSnuFcYCxzJ29x1jPwR_0,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1662736193,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,22,1887,1887,3796
2131,{'is_donut': False},"{'can_post': 1, 'count': 54, 'groups_can_post'...",0,0.8,8lDFzp4oAd-9t96Ym_XG82qlwPQR,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1574414757,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,54,1629,1629,3312
1475,{'is_donut': False},"{'can_post': 1, 'count': 2891, 'groups_can_pos...",0,0.8,PQEyGAjUKF7x1Oxy87wwca-hc1Zz,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1604923204,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,2891,134,134,3159
1825,{'is_donut': False},"{'can_post': 1, 'count': 84, 'groups_can_post'...",0,0.8,v25eNrcc0jbWVtNym6qGLJ5kx7v5,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1589373062,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,84,1479,1479,3042
1691,{'is_donut': False},"{'can_post': 1, 'count': 26, 'groups_can_post'...",0,0.8,MYhuVcfmWP5kV894idtESm63sP21,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1596104809,-51890028,...,1.596128e+09,NaN,NaN,NaN,NaN,NaN,26,1464,1464,2954
1935,{'is_donut': False},"{'can_post': 1, 'count': 66, 'groups_can_post'...",0,0.8,kiZBYpS6pD70NxtQQsQyBJkubkxw,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1583935214,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,66,1424,1424,2914
2232,{'is_donut': False},"{'can_post': 1, 'count': 44, 'groups_can_post'...",0,0.8,3toDsBAt1PDNpd4V_-67CpigFs9n,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1569916801,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,44,1427,1427,2898
1999,{'is_donut': False},"{'can_post': 1, 'count': 111, 'groups_can_post...",0,0.8,lb7eUeV5y3jraKISgKTkh4PZm8Mv,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1581057787,-51890028,...,1.581063e+09,NaN,NaN,NaN,NaN,NaN,111,1384,1384,2879
1871,{'is_donut': False},"{'can_post': 1, 'count': 36, 'groups_can_post'...",0,0.8,hyCY2U-A31GsTWc1ISo-EeJiRhlq,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1587207600,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,36,1395,1395,2826
1786,{'is_donut': False},"{'can_post': 1, 'count': 104, 'groups_can_post...",0,0.8,M7xS7JW5EOAEdfCVzxNZZuRXSpa7,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1591446471,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,104,1185,1185,2474
1663,{'is_donut': False},"{'can_post': 1, 'count': 18, 'groups_can_post'...",0,0.8,MT_seMdtDfpiUIFBqB6HQPRsV5A-,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1597644180,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,18,1208,1208,2434
2120,{'is_donut': False},"{'can_post': 1, 'count': 35, 'groups_can_post'...",0,0.8,1Pwm-w8vdOdJ1dK329TxhX-rKGZf,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1574838003,-51890028,...,1.574869e+09,NaN,NaN,NaN,NaN,NaN,35,1175,1175,2385
2446,{'is_donut': False},"{'can_post': 1, 'count': 132, 'groups_can_post...",0,0.8,Q6li7J57zT8mRXfVEJAyydiX5tn-,post,NaN,"[{'type': 'video', 'video': {'response_type': ...",1560929039,-51890028,...,1.560929e+09,NaN,NaN,NaN,NaN,NaN,132,1022,1022,2176
7757,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,kBwNKCV0F2f5AIImnj2VlBtg-hrE,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1424708125,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1059,1059,2118
1736,{'is_donut': False},"{'can_post': 1, 'count': 70, 'groups_can_post'...",0,0.8,pqYDwjxPVMnO4V0qv7dUkf-m5tEH,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1593871472,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,70,956,956,1982
2438,{'is_donut': False},"{'can_post': 1, 'count': 1634, 'groups_can_pos...",0,0.8,K6PB9eFh2uye73UOM_F47ew00d95,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1561301735,-51890028,...,1.561308e+09,NaN,NaN,NaN,NaN,NaN,1634,135,135,1904
2115,{'is_donut': False},"{'can_post': 1, 'count': 8, 'groups_can_post':...",0,0.8,dUGUL7JZJJjziOELNtl97aQ8lL4H,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1575036060,-51890028,...,1.575041e+09,NaN,NaN,NaN,NaN,NaN,8,923,923,1854
1934,{'is_donut': False},"{'can_post': 1, 'count': 661, 'groups_can_post...",0,0.8,B6XWj7tgvWNm7LSpLnBHfFPZfLcZ,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1583942411,-51890028,...,1.583951e+09,NaN,NaN,NaN,NaN,NaN,661,586,586,1833
1913,{'is_donut': False},"{'can_post': 1, 'count': 38, 'groups_can_post'...",0,0.8,q3JOT6skfhtOldTNXSBOKzLSoCP5,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1585118114,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,38,893,893,1824
1976,{'is_donut': False},"{'can_post': 1, 'count': 26, 'groups_can_post'...",0,0.8,Qwo68EQy66eVZoZjLxOnrTJ8UakY,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1582095606,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,26,887,887,1800
8189,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,0MRO78XfBnpB11LxHUi7gGwu6KiZ,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1417540800,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,0,883,883,1766
2075,{'is_donut': False},"{'can_post': 1, 'count': 20, 'groups_can_post'...",0,0.8,NJn1xOXBivuwu4yZ4soiwSKc524a,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1576914557,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,20,826,826,1672
2565,{'is_donut': False},"{'can_post': 1, 'count': 27, 'groups_can_post'...",0,0.8,4kLeGVIPvLE8wyKTlZDcEBf1AGGL,post,0.0,"[{'type': 'link', 'link': {'url': 'https://m.v...",1555683420,-51890028,...,1.555690e+09,NaN,NaN,NaN,NaN,NaN,27,811,811,1649
2295,{'is_donut': False},"{'can_post': 1, 'count': 58, 'groups_can_post'...",0,0.8,rC7S-iocHlf1NTKfY_peWnkIL4Xn,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1567234808,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,58,727,727,1512
1850,{'is_donut': False},"{'can_post': 1, 'count': 47, 'groups_can_post'...",0,0.8,1oZHMvJ4UYVFYsasLS37VdVOXg21,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1588256830,-51890028,...,1.588258e+09,NaN,NaN,NaN,NaN,NaN,47,726,726,1499
2441,{'is_donut': False},"{'can_post': 1, 'count': 79, 'groups_can_post'...",0,0.8,C0cGxl7orSK6vRL2QjjqsXoThGXx,post,0.0,"[{'type': 'link', 'link': {'url': 'https://m.v...",1561130880,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,79,696,696,1471
1842,{'is_donut': False},"{'can_post': 1, 'count': 22, 'groups_can_post'...",0,0.8,eRprMRrjlKtWQvGGAPreJ2CidCgS,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1588573020,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,22,719,719,1460
1621,{'is_donut': False},"{'can_post': 1, 'count': 6, 'groups_can_post':...",0,0.8,n2ddGE50d9D9LGciwhXzVnnYdunb,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1599653403,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,6,705,705,1416
1781,{'is_donut': False},"{'can_post': 1, 'count': 74, 'groups_can_post'...",0,0.8,dkWh15uo69b-5NVs4GyfSJkqQJ_O,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1591704289,-51890028,...,1.591706e+09,NaN,NaN,NaN,NaN,NaN,74,662,662,1398
1762,{'is_donut': False},"{'can_post': 1, 'count': 10, 'groups_can_post'...",0,0.8,58W3aldUw_D3uDwqEM1hWqSw2MmA,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1592669785,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,10,694,694,1398
306,{'is_donut': False},"{'can_post': 1, 'count': 7, 'groups_can_post':...",0,0.8,aH-2PVEwj9ebkolrnyVlX4G-L4BH,post,NaN,"[{'type': 'video', 'video': {'response_type': ...",1676301727,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,7,686,686,1379
2633,{'is_donut': False},"{'can_post': 1, 'count': 28, 'groups_can_post'...",0,0.8,BIhi3I2zFPCOWrZw5_orkz2jXtSf,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1552739280,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,28,673,673,1374
2485,{'is_donut': False},"{'can_post': 1, 'count': 93, 'groups_can_post'...",0,0.8,v-0kpPf3AMhEMDBQ9_BdpYFU5ign,post,0.0,"[{'type': 'video', 'video': {'response_type': ...",1559396011,-51890028,...,1.559396e+09,NaN,NaN,NaN,NaN,NaN,93,636,636,1365
1753,{'is_donut': False},"{'can_post': 1, 'count': 32, 'groups_can_post'...",0,0.8,CBknB3mPQ2j_DOsOl2PkI-YTvzI3,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1593012000,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,32,654,654,1340
1652,{'is_donut': False},"{'can_post': 1, 'count': 9, 'groups_can_post':...",0,0.8,Q-dT6dePXJCFl3Um38fLzJ59HKeG,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1598247960,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,9,663,663,1335
2585,{'is_donut': False},"{'can_post': 1, 'count': 41, 'groups_can_post'...",0,0.8,JI3WghVNEP8TC9WaDlz7dGSho8LN,post,NaN,"[{'type': 'doc', 'doc': {'id': 497691275, 'own...",1554805320,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,41,643,643,1327
6118,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,nT2RQ0xPNQJEBSWoa3bDw1exNbVd,post,NaN,"[{'type': 'link', 'link': {'url': 'http://scho...",1450178421,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,0,658,658,1316
1362,{'is_donut': False},"{'can_post': 1, 'count': 0, 'groups_can_post':...",0,0.8,pS2N39txFNgEDUZxoTpV13jbh9O6,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1609318604,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,0,655,655,1310
2454,{'is_donut': False},"{'can_post': 1, 'count': 196, 'groups_can_post...",0,0.8,4dBGmRfmNj6G_Hvoc31pf19d3S_-,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1560611851,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,196,557,557,1310
1347,{'is_donut': False},"{'can_post': 1, 'count': 47, 'groups_can_post'...",0,0.8,vdlnCL5JNAohu5Ya1Gt__KzE4Gvd,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1610440697,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,47,628,628,1303
1665,{'is_donut': False},"{'can_post': 1, 'count': 21, 'groups_can_post'...",0,0.8,22vOag-Q_SpNUYZp-TXSTx4P1l72,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1597572183,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,21,636,636,1293
546,{'is_donut': False},"{'can_post': 1, 'count': 16, 'groups_can_post'...",0,0.8,dz1B5jfdoYjG1cOu83pH4ZkL8YhK,post,NaN,"[{'type': 'video', 'video': {'response_type': ...",1660123159,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,16,637,637,1290
1793,{'is_donut': False},"{'can_post': 1, 'count': 23, 'groups_can_post'...",0,0.8,cpWqqSPOi4ALNxpTv4MYRHzzFGu0,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1591163700,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,23,626,626,1275
1759,{'is_donut': False},"{'can_post': 1, 'count': 11, 'groups_can_post'...",0,0.8,H-8Z7pNc_nVpGYiTVm45xzetxOmF,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1592829812,-51890028,...,1.592854e+09,NaN,NaN,NaN,NaN,NaN,11,620,620,1251
2009,{'is_donut': False},"{'can_post': 1, 'count': 13, 'groups_can_post'...",0,0.8,GnCOwC70Xm90q2kuTy6Mrub3gtW2,post,NaN,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1580454000,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,13,615,615,1243
1815,{'is_donut': False},"{'can_post': 1, 'count': 18, 'groups_can_post'...",0,0.8,EjrTdRkKPXzXvYl22nab767jB2jT,post,0.0,"[{'type': 'photo', 'photo': {'album_id': -7, '...",1589896405,-51890028,...,NaN,NaN,NaN,NaN,NaN,NaN,18,612,612,1242

## Часть 5

__Почистим данные и сохраним результат в файл для отправки копирайтерам__

In [50]:
from datetime import datetime
# 
posts = posts[['date', 'text', 'likes_count', 'reposts_count', 'comments_count', 'activity']].head(50)
posts.reset_index(drop = False, inplace = True)
posts.head()

,index,date,text,likes_count,reposts_count,comments_count,activity
0,0,2019-04-09 11:57:24,Через 15 дней вы накачаете пресс и выучите анг...,7053,7053,239,14345
1,1,2020-10-13 15:00:09,КОНКУРС! Выиграйте уроки английского и бьюти-б...,117,117,10962,11196
2,2,2014-11-25 18:41:49,100 полезных английских фраз\nЭти фразы выруча...,4013,4013,0,8026
3,3,2019-09-14 09:57:29,😑Предлоги в английском — больная тема для всех...,1944,1944,50,3938
4,4,2022-09-09 18:09:53,8 сентября королева Елизавета II мирно скончал...,1887,1887,22,3796

In [62]:

# переведем из таймстемпа в нормальный формат даты
posts['date'] = posts['date'].apply(lambda x:datetime.fromtimestamp(x))
posts.to_csv('posts.csv', sep = ';' )

In [71]:
posts

,date,text,likes_count,reposts_count,comments_count,activity
0,2019-04-09 11:57:24,Через 15 дней вы накачаете пресс и выучите анг...,7053,7053,239,14345
1,2020-10-13 15:00:09,КОНКУРС! Выиграйте уроки английского и бьюти-б...,117,117,10962,11196
2,2014-11-25 18:41:49,100 полезных английских фраз\nЭти фразы выруча...,4013,4013,0,8026
3,2019-09-14 09:57:29,😑Предлоги в английском — больная тема для всех...,1944,1944,50,3938
4,2022-09-09 18:09:53,8 сентября королева Елизавета II мирно скончал...,1887,1887,22,3796
5,2019-11-22 12:25:57,"Кот Виктор показывает, как стал причиной сканд...",1629,1629,54,3312
6,2020-11-09 15:00:04,КОНКУРС! Выиграйте уроки английского и боксы с...,134,134,2891,3159
7,2020-05-13 15:31:02,Готовы ли вы к жизни в англоговорящем городе? ...,1479,1479,84,3042
8,2020-07-30 13:26:49,Подписывайтесь на [club51890028|Skyeng],1464,1464,26,2954
9,2020-03-11 17:00:14,,1424,1424,66,2914
10,2019-10-01 11:00:01,📚🤓Ну вы поняли.👇🏻😉,1427,1427,44,2898
11,2020-02-07 09:43:07,"Английский снова сводит нас с ума, 😉и ему вооб...",1384,1384,111,2879
12,2020-04-18 14:00:00,Без фразовых глаголов можно понимать только са...,1395,1395,36,2826
13,2020-06-06 15:27:51,Простое объяснение всех времен в английском. \...,1185,1185,104,2474
14,2020-08-17 09:03:00,Все самые главные фразовые глаголы в карточках...,1208,1208,18,2434
15,2019-11-27 10:00:03,Методисты онлайн-школы Skyeng составили чек-ли...,1175,1175,35,2385
16,2019-06-19 10:23:59,"Теперь вы знаете, как отвечать:\n– How are you...",1022,1022,132,2176
17,2015-02-23 19:15:25,60 английских фраз на все случаи жизни\nТакого...,1059,1059,0,2118
18,2020-07-04 17:04:32,58 фразовых глаголов на все случаи жизни! \n\n...,956,956,70,1982
19,2019-06-23 17:55:35,Играем в слова. У кого словарный запас больше?...,135,135,1634,1904
20,2019-11-29 17:01:00,✅Приставки открывают сразу много новых слов пр...,923,923,8,1854
21,2020-03-11 19:00:11,"🎁 Ребят, мы тут конкурс затеяли. Подарим 2 БЕС...",586,586,661,1833
22,2020-03-25 09:35:14,👉 Без паники!,893,893,38,1824
23,2020-02-19 10:00:06,Наши методисты составили чек-лист: какие темы ...,887,887,26,1800
24,2014-12-02 20:20:00,100 английских фраз для путешествий\nЭти фразы...,883,883,0,1766
25,2019-12-21 10:49:17,Skyeng объясняет как не запутаться в английско...,826,826,20,1672
26,2019-04-19 17:17:00,"Раз в неделю, мы и [club130552184|Topsify] пре...",811,811,27,1649
27,2019-08-31 10:00:08,😃Билли Айлиш проспала премию Video Music Award...,727,727,58,1512
28,2020-04-30 17:27:10,Идея на майские.💡80 иностранных фильмов для пр...,726,726,47,1499
29,2019-06-21 18:28:00,Мы любим разбирать Карди Би. Это как будто выу...,696,696,79,1471
30,2020-05-04 09:17:00,"Хвалите себя чаще! \n\n❓ Расскажите, как вы пр...",719,719,22,1460
31,2020-09-09 15:10:03,Английские предлоги не поддаются каким-либо пр...,705,705,6,1416
32,2020-06-09 15:04:49,Напишите в комментариях цифру от 1 до 7. Фраза...,662,662,74,1398
33,2020-06-20 19:16:25,"Синонимы к прилагательным happy, good и beauti...",694,694,10,1398
34,2023-02-13 18:22:07,,686,686,7,1379
35,2019-03-16 15:28:00,Дэни собрал для вас самый топовый американский...,673,673,28,1374
36,2019-06-01 16:33:31,Мы сегодня встали пораньше и убрали тонну мусо...,636,636,93,1365
37,2020-06-24 18:20:00,В вашу видео-копилку на выходные. 👇🏻,654,654,32,1340
38,2020-08-24 08:46:00,"Английские синонимы, в которых уже заложено ус...",663,663,9,1335
39,2019-04-09 13:22:00,Дэни собрал для вас самый топовый американский...,643,643,41,1327
40,2015-12-15 14:20:21,Skyeng Steps — бесплатный курс разговорного ан...,658,658,0,1316
41,2020-12-30 11:56:44,Новогодний словарик: 36 праздничных английских...,655,655,0,1310
42,2019-06-15 18:17:31,Вы можете учить английский вообще бесплатно и ...,557,557,196,1310
43,2021-01-12 11:38:17,"Хэппи бездей, Таня 🎉🍰\n\nСегодня наша ведущая ...",628,628,47,1303
44,2020-08-16 13:03:03,"Как выучить английский, играя в The Sims? 😱 Эт...",636,636,21,1293
45,2022-08-10 12:19:19,,637,637,16,1290
46,2020-06-03 08:55:00,"Гоу гоу гоу!🚶‍♀Идем за продуктами, уходим из ч...",626,626,23,1275
47,2020-06-22 15:43:32,"Фразовые глаголы со словом get, которые должен...",620,620,11,1251
48,2020-01-31 10:00:00,Чувствуете разницу между Ask for и Ask about? ...,615,615,13,1243
49,2020-05-19 16:53:25,"Английский снова сводит нас с ума, и ему вообщ...",612,612,18,1242